body {
    /* font-family: 'quicksandregular'; */
    /*font-family: 'cantarellregular';*/
    font-family: 'Inconsolata-Regular';
    padding-top: 70px;
    background-color: #e5fcf2;
    background-image: repeating-linear-gradient(0deg, #fafafa, #fafafa 1px, white 2px, white 4px);
}

.works {
    margin-top: 2em;
}
.navbar {
    border-radius: 5px;
}

.zawartosc {
    margin-bottom: 2em;
}
.tsotwoa {
    margin-bottom: 2em;
}
.tsotwoa-opis {
    margin-top: 1em;
}


.navbar-new {

    background-color: white;
    border-color: white;
}

.navbar-new .navbar-brand,
.navbar-new .navbar-brand:hover,
.navbar-new .navbar-brand:focus {
    font-family: 'Inconsolata-Bold';
    /* font-family: 'nemoymedium'; */
    color: black;
}

.navbar-new .navbar-nav > li > a {
    color: black;
}

.navbar-new .navbar-nav > li > a:hover,
.navbar-new .navbar-nav > li > a:focus {
    background-color: #435543;
}

.navbar-new .navbar-nav > .active > a,
.navbar-new .navbar-nav > .active > a:hover,
.navbar-new .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: #435543;
}

.navbar-new .navbar-text {
    color: #FFF;
}

.navbar-new .navbar-toggle {
    border-color: white;
}

.navbar-new .navbar-toggle:hover,
.navbar-new .navbar-toggle:focus {
    background-color: white;
}

.navbar-new .navbar-toggle .icon-bar {
    background-color: black;
}


/* dropdown */
.dropdown-menu-new > li > a {
    color: black;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a{
    color: black;
    background-color: white;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
    background-color: #435543;
    color: white;
}



/* home page image */
.homepageimg {
  height:776px;
  background-size: 100%;
  background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-image: url('../img/poster_2.png');
    }



img {
    display: inline-block;
    height: auto;
    max-width: 100%;
}

.navbar-brand img {
  margin: -2px;
}

/* @media only screen and (max-width: 767px){ */
/* .background-image { */
/*   height: 200px; */
/* }}
 */
