body {
    margin: 0px;
    padding: 0px;
}


#headmenu {
    /* margin: 1em auto; */
    position:relative;
    width: 50%;
    margin: auto 25% auto 25%;
    /* position: fixed; */
    top: 0;
/* position: fixed; */
}

header {
    /* position: absolute; */
    /* top: 0; */
    /* border: dotted 1px red; */
    margin: auto 0% auto 0%;
    width: 100%;
}

/* header img { */
/*     margin: auto 25% auto 25%; */
/* } */
header h1 {
    margin: 3em auto 1em;
    text-align: center;
    width: 50%;
    font-size: 1em;
    /* border: double 1px silver; */
}

h1 {
    text-align: center;
    margin: auto auto 2em;
}
h2 {
    font-size: 1em;
}

#menu {

    /* left: 500px; */;
    display: table;
    /* border: dashed 1px red; */
    /* width: 50%; */
    margin: 1em auto 3em;
    padding: 0.5em;

}
nav {
    display: table-row;
    margin: auto 25% 4em 25%;
}

.menuItem {
    display: table-cell;
    /* float: left; */
    width: 33%;
    margin: 0 auto 0 auto;
    /* border: dashed 1px blue; */
    text-align: center;
    padding: 1em 1em;
}
span.menuItem a {
    text-decoration:none;//line-through;
    /* border: dashed 1px blue; */
}
#logo {
    width: 120px;
    margin: 2em auto;
    border: double 1px blue;
    padding: 1em;
    background-color: red;
    text-align: center;
}




section {
    /* position: relative; */
    /* top: 12em; */
    border-color: red;
    border-width: 1px;
    margin: 8em 25% 4em 25%;
    width: 50%;
}

#works {
    border-color: red;
    border-width: 4px;
    margin: auto 25% auto 25%;
    background-color: black;
}
div.slideshow  {
   border-color: dotted 2px aqua;
    width: 90%;
    margin: auto;

    background-color: black;
}

#mail {
    text-align: center;
}
