<nav class="navbar  navbar-inverse navbar-fixed-top navbar-new"
     role="navigation"
     id="main-navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle"
                    data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">
                    Toggle navigation
                </span>
                MENU
               <!-- <img src="../img/swastika.gif" alt="PRZEMYSLAW SANECKI"> -->
            </button>
        </div>
        <div class="collapse navbar-collapse"
             id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
                <li>
                    <a href="../index.html">HOME
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#"
                       class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">WORKS</a>
                    <ul class="dropdown-menu dropdown-menu-new">
                        <li>
                            <a href="../nothing/index.html">NOTHING IS WITHIN REASON</a>
                        </li>
                        <li>
                            <a href="../primacy/index.html">PRIMACY OF CONSTRUCTIVE METHODS...</a>
                        </li>
                        <li>
                            <a href="../normal/index.html">normal</a>
                        </li>
                        <li>
                            <a href="../listerine/index.html">Listerine</a>
                        </li>
                        <li>
                            <a href="../ib/index.html">Impossible Bodies</a>
                        </li>
                        <li>
                            <a href="../queen/index.html">Queen of the Dream</a>
                        </li>
                        <li>
                            <a href="../purecapital/index.html">Pure Capital</a>
                        </li>
                        <li>
                            <a href="../thestorm">The Storm That Shelters the Carnival...</a>
                        </li>
                        <li>
                            <a href="../thesource/index.html">The Source of the Work of Art</a>
                        </li>
                        <!-- <li>
                             <a href="../inarchitectonic/index.html">Inarchitectonic</a>
                             </li> -->
                        <li>
                            <a href="../works/index.html">Selected works from 2008-2014</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="../contact/index.html">CONTACT<!-- <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> -->
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
